* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#word {
    margin-top: 4rem;
    font-size: 3rem;
    color: darkcyan
}


.bounce { animation: bounce 0.6s; }
  @keyframes bounce {
    0%,100%{transform:translateY(0)}50%{transform:translateY(-10px)}
  }

.shake {
  animation: shake 0.4s;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-8px); }
  40%, 80% { transform: translateX(8px); }
}

.spin {
  animation: spin 0.6s ease-in-out;
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.fade {
  animation: fade 8s;
}

@keyframes fade {
  0% { opacity: 0; transform: scale(0.9); }
  50% { opacity: 1; transform: scale(1.05); }
  100% { opacity: 1; transform: scale(1); }
}