* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#word {
    margin: 4rem 0;
    padding: 2rem 0;
    font-size: 3rem;
    color: darkcyan
}

#changeImage {
  width: 10rem;
  height: 3rem;
  background-color: darkgoldenrod;
  font-size: 1.7rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bounce { animation: bounce 0.6s; }
  @keyframes bounce {
    0%,100%{transform:translateY(0)}50%{transform:translateY(-10px)}
  }

.shake {
  animation: shake 0.4s;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-8px); }
  40%, 80% { transform: translateX(8px); }
}

.spin {
  animation: spin 0.6s ease-in-out;
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.fade {
  animation: fade 8s;
}

@keyframes fade {
  0% { opacity: 0; transform: scale(0.9); }
  50% { opacity: 1; transform: scale(1.05); }
  100% { opacity: 1; transform: scale(1); }
}